@charset "UTF-8";

/**
 * Navigation
 ------------------*/

/**Top Navigation*/

#jAdminBard {
  height: 32px;
  line-height: 32px;
  position: fixed;
  z-index: 99999;
  width: 100%;
  left: 0;
  top: 0;
}

/**Sidebar Navigation*/

#jAdminNavBG,
#jAdminNavWrap {
  width: 190px;
  background-color: #263135;
  transition: all ease 0.3s;
}

#jAdminNavBG.active,
#jAdminNavWrap.active {
  margin-left: -190px;
  transition: all ease 0.3s;
}

.sticky-menu #jAdminNavWrap {
  position: fixed;
}

#jAdminNavBG {
  position: fixed;
  height: 100%;
  bottom: -12px;
  z-index: 1;
}

#jAdminNavWrap {
  position: relative;
  float: left;
  z-index: 9990;
}

#jAdminNavWrap ul.nav {
  padding: 50px 0;
}

#jAdminNavWrap .nav-link {
  color: #fff;
}

#jAdminNavWrap .nav-link:hover,
#jAdminNavWrap .nav-link:focus {
  background: #43494e;
}

#jAdminNavWrap .nav-link.active {
  background: #266ca6;
}

#jAdminNavWrap .submenu {
  background-color: #43494e;
}

#jAdminNavWrap .submenu .nav-link {
  color: #e5e5e5;
}

#jAdminNavWrap .submenu .nav-link:hover,
#jAdminNavWrap .submenu .nav-link:focus {
  color: #69bbff;
}

#jAdminNavWrap .submenu .nav-link.current-active {
  color: #fff;
}

/**collapse*/

#sidebarCollapse {
  background: #4e4e4e;
  width: 24px;
  right: -24px;
  text-align: center;
  top: 16px;
  height: 32px;
  vertical-align: middle;
  line-height: 2.3;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #ffff;
}

/*  .nav-link[data-toggle].collapsed:after {
   content: "▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
   content: "▴";
}  */

/**
* Main Site Navigation
-------------------------*/

#jWrap {
  height: 100%;
  min-width: 100%;
  position: relative;
  width: 100%;
}

#jWrapContent,
#jWrapFooter {
  margin-left: 190px;
  transition: all ease 0.3s;
}

#jWrapContent.active,
#jWrapFooter.active {
  margin-left: 0;
  transition: all ease 0.3s;
}

#jWrapContent {
  height: 100%;
  padding-left: 20px;
}

#jBody {
  position: relative;
}

.jMain {
  margin: 10px 20px 0 2px;
}

.jc-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 7px;
}

.jc-card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.jc-card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.jc-control {
  border-radius: 0;
  line-height: 1.4;
  border: 0;
  border-bottom: 1px solid #ced4da;
}

/**sections-user*/

#users-tabPill-nav {
  position: fixed;
  margin-top: 10px;
}

#users-tabPill-nav #v-pills-tab {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-right: 1px solid #fbfbfb;
}

#users-tabPill-nav #v-pills-tab .nav-link {
  border-radius: 0;
  border-bottom: 1px solid #f4f4f4;
}

#users-tabPill-nav #v-pills-tab .nav-link:last-child {
  border-bottom-width: 0;
}

#users-tabPill-nav #v-pills-tab a {
  color: #7b7b7b;
}

#users-tabPill-nav #v-pills-tab a:hover {
  color: #686868;
}

#users-tabPill-nav .nav-pills .nav-link.active,
#users-tabPill-nav .nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: #7b7b7b;
}

#user-tabPill-content {
  margin-left: 50px;
  border: 1px solid #f1f1f1;
  height: 100%;
  min-height: 250px;
  background: #fff;
  border-radius: 2px;
}

#user-tabPill-content .jc-card {
  border: 0;
}

/**div-table*/

.sets_of_sm,
.sets_of_skills {
  border-bottom: 1px solid transparent;
  padding-bottom: 1px;
}

.sets_of_sm:nth-of-type(odd),
.sets_of_skills:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

/**
* Media
-------------------------*/

@media (min-width: 1200px) {
  .container-lg-w12 {
    max-width: 1200px;
  }
}

@media screen and (max-width: 782px) {
  .auto-fold #jWrapContent,
  .auto-fold #jWrapFooter {
    margin-left: -190px;
  }

  .auto-fold #jWrapContent.active,
  .auto-fold #jWrapFooter.active {
    margin-left: 0px;
  }

  .auto-fold #jAdminBard {
    height: auto;
  }

  .auto-fold #jWrapContent {
    position: relative;
    padding-left: 10px;
    margin-left: 0;
  }

  .auto-fold #users-tabPill-nav {
    position: relative;
  }

  .auto-fold #user-tabPill-content {
    margin-left: 0;
  }

  .auto-fold #user-tabPill-content .jc-card-body label {
    text-align: left !important;
  }

  .auto-fold #sidebarCollapse {
    top: 44px;
  }
}

/**Media*/

.media-wrap .media-attachment {
  margin-top: 20px;
  position: relative;
  padding: 0;
  border: 4px dashed #cbcbcb;
}

