/**Top Navigation*/
#jAdminBard{
    height: 32px;
    line-height: 32px;
    position: fixed;
    z-index: 99999;
    width: 100%;
    left: 0;
    top: 0;	
}

/**Sidebar Navigation*/
#jAdminNavBG,#jAdminNavWrap{
	width: 190px;
	background-color: #263135;
	transition: all ease 0.3s;
	&.active{
		margin-left: -190px;
		transition: all ease 0.3s;
	}
}
.sticky-menu{
	#jAdminNavWrap{
		position: fixed;
	}
}
#jAdminNavBG{
    position: fixed;
    height: 100%;
    bottom: -12px;
    z-index: 1;
}
#jAdminNavWrap{
	position: relative;
	float: left;
	z-index: 9990;
	ul.nav{
		padding:50px 0;
	}
	.nav-link{
		color: #fff;
		&:hover,&:focus{
		    background: #43494e;
		}
		&.active{
			background: #266ca6;
		}
		// &[data-toggle]{
		// 	&.collapsed{
		// 		&:after{
		// 			content: '';
		// 		}
		// 		&:not(.collapsed){
		// 			&:after {
		// 				content: '';
		// 			}
		// 		}
		// 	}
		// }
	}
	.submenu{
		background-color: #43494e;
		.nav-link{
			color: #e5e5e5;
			&:hover,&:focus{
				color: #69bbff;
			}
			&.current-active{
				color: #fff;
			}
		}
	}
}
// #jWrapAdminMenu.active{
// 	margin-left: -190px;
// 	transition: all ease 0.3s;
// 	+#jWrapContent{
// 		margin-left:0;
// 		transition: all ease 0.3s;
// 	}
// }
/**collapse*/
#sidebarCollapse{
	background: #4e4e4e;
	width: 24px;
	right: -24px;
	text-align: center;
	top: 16px;
	height: 32px;
	vertical-align: middle;
	line-height: 2.3;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #ffff;
}
/*  .nav-link[data-toggle].collapsed:after {
   content: "▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
   content: "▴";
}  */